<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Article</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquery-3.1.1.js"></script> -->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="../static/scripts/article.js"></script>
</head>
<body>
    <h1>ARTICLE</h1>
    <p id="hello">Dynamically changed by TypeScript</p>
</body>
</html>